<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="uren-footer_area">
      <div class="footer-middle_area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="footer-widgets_info">
                <div class="footer-widgets_logo">
                  <a href="#">
                    <img src="assets/vintrogym.png" alt="Uren's Footer Logo" />
                  </a>
                </div>
                <div class="widget-short_desc">
                  <p>
                    We are a team of enthusiastic fitness individuals aiming to
                    serve fellow youngsters and old, all
                  </p>
                </div>
                <div class="widgets-essential_stuff">
                  <ul>
                    <li class="uren-address">
                      <span>Address:</span> Fast University Karachi
                    </li>
                    <li class="uren-phone">
                      <span>Call Us:</span>
                      <a href="tel://+123123321345">03415447531</a>
                    </li>
                    <li class="uren-email">
                      <span>Email:</span>
                      <a href="mailto://info@yourdomain.com"
                        >info@yourdomain.com</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="uren-social_link">
                  <ul>
                    <li class="facebook">
                      <a
                        href="https://www.facebook.com/"
                        data-toggle="tooltip"
                        target="_blank"
                        title="Facebook"
                      >
                        <i class="fab fa-facebook"></i>
                      </a>
                    </li>
                    <li class="twitter">
                      <a
                        href="https://twitter.com/"
                        data-toggle="tooltip"
                        target="_blank"
                        title="Twitter"
                      >
                        <i class="fab fa-twitter-square"></i>
                      </a>
                    </li>
                    <li class="google-plus">
                      <a
                        href="https://www.plus.google.com/discover"
                        data-toggle="tooltip"
                        target="_blank"
                        title="Google Plus"
                      >
                        <i class="fab fa-google-plus"></i>
                      </a>
                    </li>
                    <li class="instagram">
                      <a
                        href="https://rss.com/"
                        data-toggle="tooltip"
                        target="_blank"
                        title="Instagram"
                      >
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="footer-widgets_area">
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="footer-widgets_title">
                      <h3>Information</h3>
                    </div>
                    <div class="footer-widgets">
                      <ul>
                        <li><a href="javascript:void(0)">About Us</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="footer-widgets_title">
                      <h3>Customer Service</h3>
                    </div>
                    <div class="footer-widgets">
                      <ul>
                        <li><a href="javascript:void(0)">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
