<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .row {
        justify-content: space-between;
      }

      .fa-cart-shopping {
        margin: 35px 16px 0 0;
      }

      .header-logo_area {
        margin-top: -35px;
      }

      .header-middle_area {
    padding-bottom: 0 !important;
}
    </style>
  </head>
  <body>
    <header class="header-main_area header-main_area-2 bg--black">
      <div class="header-middle_area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-5">
              <div class="header-logo_area">
                <a href="/index">
                  <!-- <img src="assets/images/menu/logo/1.png" alt="Uren's Logo" /> -->
                  <img src="assets/vintrogym.png" alt="Uren's Logo" style="width: 200px;"/>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-7">
              <div class="header-right_area">
                <ul>
                  <li class="mobile-menu_wrap d-flex d-lg-none">
                    <a
                      href="#mobileMenu"
                      class="mobile-menu_btn toolbar-btn color--white"
                    >
                      <i class="ion-navicon"></i>
                    </a>
                  </li>
                
                </ul>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="header-top_area">
        <div class="container-fluid"></div>
      </div>
      <div class="header-top_area header-sticky bg--black">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-8 col-lg-7 d-lg-block d-none">
              <div class="main-menu_area position-relative">
                <nav class="main-nav">
                  <ul>
                    <li class="dropdown-holder active"></li>
                    <li class=""><a href="about-us.html">About Us</a></li>
                    <li class=""><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-sm-3 d-block d-lg-none">
              <div class="header-logo_area header-sticky_logo">
               
                  <img src="assets/images/menu/logo/1.png" alt="Uren's Logo" />
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-9">
              <div class="header-right_area">
                <ul>
                  <li class="mobile-menu_wrap d-flex d-lg-none">
                    <a
                      href="#mobileMenu"
                      class="mobile-menu_btn toolbar-btn color--white"
                    >
                      <i class="ion-navicon"></i>
                    </a>
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
          <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
          <div class="minicart-content">
            <div class="minicart-heading">
              <h4>Shopping Cart</h4>
            </div>
            <ul class="minicart-list">
              <li class="minicart-product">
                <a class="product-item_remove" href="javascript:void(0)"
                  ><i class="ion-android-close"></i
                ></a>
                <div class="product-item_img">
                  <img
                    src="assets/images/product/small-size/1.jpg"
                    alt="Uren's Product Image"
                  />
                </div>
                <div class="product-item_content">
                  <a class="product-item_title" href="shop-left-sidebar.html"
                    >Autem ipsa ad</a
                  >
                  <span class="product-item_quantity">1 x $145.80</span>
                </div>
              </li>
              <li class="minicart-product">
                <a class="product-item_remove" href="javascript:void(0)"
                  ><i class="ion-android-close"></i
                ></a>
                <div class="product-item_img">
                  <img
                    src="assets/images/product/small-size/2.jpg"
                    alt="Uren's Product Image"
                  />
                </div>
                <div class="product-item_content">
                  <a class="product-item_title" href="shop-left-sidebar.html"
                    >Tenetur illum amet</a
                  >
                  <span class="product-item_quantity">1 x $150.80</span>
                </div>
              </li>
              <li class="minicart-product">
                <a class="product-item_remove" href="javascript:void(0)"
                  ><i class="ion-android-close"></i
                ></a>
                <div class="product-item_img">
                  <img
                    src="assets/images/product/small-size/3.jpg"
                    alt="Uren's Product Image"
                  />
                </div>
                <div class="product-item_content">
                  <a class="product-item_title" href="shop-left-sidebar.html"
                    >Non doloremque placeat</a
                  >
                  <span class="product-item_quantity">1 x $165.80</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="minicart-item_total">
            <span>Subtotal</span>
            <span class="ammount">$462.4‬0</span>
          </div>
          <div class="minicart-btn_area">
            <a
              href="cart.html"
              class="uren-btn uren-btn_dark uren-btn_fullwidth"
              >Minicart</a
            >
          </div>
          <div class="minicart-btn_area">
            <a
              href="checkout.html"
              class="uren-btn uren-btn_dark uren-btn_fullwidth"
              >Checkout</a
            >
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
