<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to Our Website</h1>
  <p>Please select an option:</p>
  <a href="/login">Sign In</a>
  <a href="/register">Register</a>
</body>
</html>
