<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css" />
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css" />
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->
  </head>

  <body class="template-color-1">
    <div class="main-wrapper">
      <!-- Begin Uren's Header Main Area -->
      <header class="header-main_area header-main_area-2 bg--black">
        <div class="header-middle_area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-3 col-lg-2 col-md-3 col-sm-5">
                <div class="header-logo_area">
                  <a href="index.html">
                    <img
                      src="assets/images/menu/logo/1.png"
                      alt="Uren's Logo"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-9 col-sm-7">
                <div class="header-right_area">
                  <ul>
                    <li class="mobile-menu_wrap d-flex d-lg-none">
                      <a
                        href="#mobileMenu"
                        class="mobile-menu_btn toolbar-btn color--white"
                      >
                        <i class="ion-navicon"></i>
                      </a>
                    </li>
                    <li class="contact-us_wrap">
                      <a href="tel://+123123321345"
                        ><i class="ion-android-call"></i>+123 321 345</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-top_area">
          <div class="container-fluid">
            <div class="row">
              <div class="custom-category_col col-12">
                <div class="category-menu category-menu-hidden">
                  <div class="category-heading">
                    <h2 class="categories-toggle">
                      <span>Shop By</span>
                      <span>Department</span>
                    </h2>
                  </div>
                  <div id="cate-toggle" class="category-menu-list">
                    <ul>
                      <li><a href="shop-left-sidebar.html">Body Parts</a></li>
                      <li><a href="shop-left-sidebar.html">Interior</a></li>
                      <li><a href="shop-left-sidebar.html">Audio</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="custom-menu_col col-12 d-none d-lg-block">
                <div class="main-menu_area position-relative">
                  <nav class="main-nav">
                    <ul>
                      <li class="dropdown-holder active">
                        <a href="index.html">Home</a>
                      </li>
                      <li class=""><a href="about-us.html">About Us</a></li>
                      <li class=""><a href="contact.html">Contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="custom-setting_col col-12 d-none d-lg-block">
                <div class="ht-right_area">
                  <div class="ht-menu">
                    <ul>
                      <li>
                        <a href="my-account.html"
                          ><span class="fa fa-user"></span>
                          <span>My Account</span
                          ><i class="fa fa-chevron-down"></i
                        ></a>
                        <ul class="ht-dropdown ht-my_account">
                          <li><a href="javascript:void(0)">Register</a></li>
                          <li class="active">
                            <a href="javascript:void(0)">Login</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-top_area header-sticky bg--black">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                <div class="main-menu_area position-relative">
                  <nav class="main-nav">
                    <ul>
                      <li class="dropdown-holder active">
                        <a href="index.html">Home</a>
                      </li>
                      <li class=""><a href="about-us.html">About Us</a></li>
                      <li class=""><a href="contact.html">Contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-sm-3 d-block d-lg-none">
                <div class="header-logo_area header-sticky_logo">
                  <a href="index.html">
                    <img
                      src="assets/images/menu/logo/1.png"
                      alt="Uren's Logo"
                    />
                  </a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 col-sm-9">
                <div class="header-right_area">
                  <ul>
                    <li class="mobile-menu_wrap d-flex d-lg-none">
                      <a
                        href="#mobileMenu"
                        class="mobile-menu_btn toolbar-btn color--white"
                      >
                        <i class="ion-navicon"></i>
                      </a>
                    </li>
                    <li class="contact-us_wrap">
                      <a href="tel://+123123321345"
                        ><i class="ion-android-call"></i>+123 321 345</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offcanvas-minicart_wrapper" id="miniCart">
          <div class="offcanvas-menu-inner">
            <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
            <div class="minicart-content">
              <div class="minicart-heading">
                <h4>Shopping Cart</h4>
              </div>
              <ul class="minicart-list">
                <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"
                    ><i class="ion-android-close"></i
                  ></a>
                  <div class="product-item_img">
                    <img
                      src="assets/images/product/small-size/1.jpg"
                      alt="Uren's Product Image"
                    />
                  </div>
                  <div class="product-item_content">
                    <a class="product-item_title" href="shop-left-sidebar.html"
                      >Autem ipsa ad</a
                    >
                    <span class="product-item_quantity">1 x $145.80</span>
                  </div>
                </li>
                <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"
                    ><i class="ion-android-close"></i
                  ></a>
                  <div class="product-item_img">
                    <img
                      src="assets/images/product/small-size/2.jpg"
                      alt="Uren's Product Image"
                    />
                  </div>
                  <div class="product-item_content">
                    <a class="product-item_title" href="shop-left-sidebar.html"
                      >Tenetur illum amet</a
                    >
                    <span class="product-item_quantity">1 x $150.80</span>
                  </div>
                </li>
                <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"
                    ><i class="ion-android-close"></i
                  ></a>
                  <div class="product-item_img">
                    <img
                      src="assets/images/product/small-size/3.jpg"
                      alt="Uren's Product Image"
                    />
                  </div>
                  <div class="product-item_content">
                    <a class="product-item_title" href="shop-left-sidebar.html"
                      >Non doloremque placeat</a
                    >
                    <span class="product-item_quantity">1 x $165.80</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="minicart-item_total">
              <span>Subtotal</span>
              <span class="ammount">$462.4‬0</span>
            </div>
            <div class="minicart-btn_area">
              <a
                href="cart.html"
                class="uren-btn uren-btn_dark uren-btn_fullwidth"
                >Minicart</a
              >
            </div>
            <div class="minicart-btn_area">
              <a
                href="checkout.html"
                class="uren-btn uren-btn_dark uren-btn_fullwidth"
                >Checkout</a
              >
            </div>
          </div>
        </div>
      </header>
      <!-- Uren's Header Main Area End Here -->

      <!-- Begin Uren's Breadcrumb Area -->
      <div class="breadcrumb-area">
        <div class="container">
          <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Login</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Uren's Breadcrumb Area End Here -->
      <!-- Begin Uren's Login Register Area -->
      <div class="uren-login-register_area">
        <div class="container-fluid">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
              <!-- Login Form s-->
              <form method="POST" action="/login">
                <div class="login-form">
                  <h4 class="login-title">Login</h4>
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <label>Username</label>
                      <input
                        id="username"
                        name="username"
                        type="text"
                        placeholder="Username"
                      />
                    </div>
                    <div class="col-12 mb--20">
                      <label>Password *</label>
                      <input
                        id="passwords"
                        name="passwords"
                        type="password"
                        placeholder="Password"
                      />
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                      <div class="forgotton-password_info">
                        <a href="#"> Forgotten password?</a>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button class="uren-login_btn">Login</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Uren's Login Register Area  End Here -->
      <!-- Begin Uren's Footer Area -->
      <div class="uren-footer_area">
        <div class="footer-middle_area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4">
                <div class="footer-widgets_info">
                  <div class="footer-widgets_logo">
                    <a href="#">
                      <img
                        src="assets/images/menu/logo/1.png"
                        alt="Uren's Footer Logo"
                      />
                    </a>
                  </div>
                  <div class="widget-short_desc">
                    <p>
                      We are a team of designers and developers that create high
                      quality HTML Template & Woocommerce, Shopify Theme.
                    </p>
                  </div>
                  <div class="widgets-essential_stuff">
                    <ul>
                      <li class="uren-address">
                        <span>Address:</span> The Barn, Ullenhall, Henley in
                        Arden B578 5CC, England
                      </li>
                      <li class="uren-phone">
                        <span>Call Us:</span>
                        <a href="tel://+123123321345">+123 321 345</a>
                      </li>
                      <li class="uren-email">
                        <span>Email:</span>
                        <a href="mailto://info@yourdomain.com"
                          >info@yourdomain.com</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="uren-social_link">
                    <ul>
                      <li class="facebook">
                        <a
                          href="https://www.facebook.com/"
                          data-toggle="tooltip"
                          target="_blank"
                          title="Facebook"
                        >
                          <i class="fab fa-facebook"></i>
                        </a>
                      </li>
                      <li class="twitter">
                        <a
                          href="https://twitter.com/"
                          data-toggle="tooltip"
                          target="_blank"
                          title="Twitter"
                        >
                          <i class="fab fa-twitter-square"></i>
                        </a>
                      </li>
                      <li class="google-plus">
                        <a
                          href="https://www.plus.google.com/discover"
                          data-toggle="tooltip"
                          target="_blank"
                          title="Google Plus"
                        >
                          <i class="fab fa-google-plus"></i>
                        </a>
                      </li>
                      <li class="instagram">
                        <a
                          href="https://rss.com/"
                          data-toggle="tooltip"
                          target="_blank"
                          title="Instagram"
                        >
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="footer-widgets_area">
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="footer-widgets_title">
                        <h3>Information</h3>
                      </div>
                      <div class="footer-widgets">
                        <ul>
                          <li><a href="javascript:void(0)">About Us</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <div class="footer-widgets_title">
                        <h3>Customer Service</h3>
                      </div>
                      <div class="footer-widgets">
                        <ul>
                          <li><a href="javascript:void(0)">Contact Us</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Uren's Footer Area End Here -->
    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Barrating JS -->
    <script src="assets/js/plugins/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="assets/js/plugins/jquery.counterup.js"></script>
    <!-- Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <!-- Jquery-ui JS -->
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
    <!-- Lightgallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>
    <!-- Scroll Top JS -->
    <script src="assets/js/plugins/scroll-top.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <!-- jQuery Zoom JS -->
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
